body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

header {
  background: #09168d;
  height: 50px;
  padding: 10px;
  padding-bottom: .4rem;
}

header .userDetails {
  margin-right: 1rem;
  top: 1rem;
  right: 1.4rem;
  float: right;
}

header .userDetails a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #fff;
}

header .userLinks {
  top: 4.3em;
  right: 0;
  background: #fff;
  height: 200px;
  width: 20%;
  position: absolute;
  z-index: 999;
  border-radius: 10px;
  display: none;
}

header .userLinks a {
  color: #000;
}

header .userLinks a:hover {
  color: greenyellow;
}

header .userLinks li {
  margin-bottom: 20px;
  padding: 0;
}

.homeContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
}

.homeContainer .navigation {
  background: #3d99e4;
}

.homeContainer .navigation .logo {
  margin-top: 10px;
  text-align: center;
}

.homeContainer .navigation li {
  margin: 40px;
}

.homeContainer .navigation a {
  text-decoration: none;
  color: #000;
}

.homeContainer .navigation a:hover {
  color: red;
}

.homeContainer .details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  background: #d1e4f7;
  padding: 20px;
}

.homeContainer .details .news {
  margin: 1rem;
}

.homeContainer .details .news .newsItem {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 1rem;
}

.homeContainer .details .news .newsItem section {
  padding: .5rem;
}

.homeContainer .details .news .newsItem h3 span {
  float: right;
  font-weight: normal;
}

.homeContainer .details .news .newsItem div {
  padding: .2rem;
}

.homeContainer .details .news .newsItem a {
  float: right;
  margin-bottom: 1rem;
  text-decoration: none;
  color: blue;
}

.homeContainer .details .info .fees, .homeContainer .details .info .hostel {
  background: #ff8f3e;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  color: #fff;
  margin: 1rem;
}

.homeContainer .details .info .hostel {
  background: #046388;
}

.menu {
  float: right;
  width: 2rem;
  height: 2rem;
  background: #333;
  top: .8rem;
  right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: .5rem;
  padding-bottom: .2rem;
  border-radius: .5rem;
  display: block;
}

.menu .line {
  color: #fff;
  background: #fff;
  width: 60%;
  height: .05rem;
  margin: .2rem;
  padding: .08rem;
  border-radius: .2rem;
}

.menu:hover {
  background: #666;
  cursor: pointer;
}

.menuClose {
  float: right;
  width: 2rem;
  height: 2rem;
  background: #333;
  top: .8rem;
  right: 1rem;
  text-align: center;
  padding: .3rem;
  border-radius: .2rem;
  display: none;
}

.menuClose .close {
  color: #fff;
  font-size: 1.6rem;
}

.menuClose:hover {
  background: #666;
  cursor: pointer;
}

@media (max-width: 500px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .homeContainer {
    display: block;
  }
  .userLinks {
    padding: 1rem;
  }
  .userLinks ul {
    padding: .1rem;
    margin-top: 0;
  }
  .userLinks ul li {
    margin: .8rem;
  }
}
/*# sourceMappingURL=home.css.map */