{% extends 'portal/home.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{%static 'portal/styles/fees.css'%}">
<link rel="stylesheet" href="{%static 'portal/styles/home.css'%}">
{% endblock %}

{%block content%}
    <div class="examinationsContainer">
        <div class="scrollBar">
            <ul>
                <li><a href="#">Fees Statement</a></li>
                <li><a href="#">Fees Structure</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="contentHeader">
                <div class="contentTitle">
                    <p>
                        Fees Structure <br>
                       <span>Fees Structure Based on <br>
                        Programme.</span> 

                    </p>
                    <button type="submit">Print</button>
                </div>
                <hr>
                <div class="programme">
                    <p>
                    Program: BACHELORS OF SCIENCE COMPUTER SCIENCE <br>
                    Class: SB06/M/2017S <br>
                    Session:
                </p> 
                </div>
                <hr>
                <form action="" class="generateContent">
                    <div>
                        <label for="academicyear">Academic Year</label><br>
                        <select name="academicyear" id="academicyear">
                            <option value="1">Year 1</option>
                            <option value="2">Year 2</option>
                            <option value="3">Year 3</option>
                            <option value="4">Year 4</option>
                        </select>
                    </div>
                    <input type="submit" value="Generate">
                </form>
                <hr>
            </div>
            <div class="userContent">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Maxime asperiores provident assumenda a facere laudantium?
                  Explicabo eligendi dolor aperiam aut. Aliquid fugit quidem
                   a id laborum laudantium consequatur atque odit?
                   Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   Maxime asperiores provident assumenda a facere laudantium?
                    Explicabo eligendi dolor aperiam aut. Aliquid fugit quidem
                     a id laborum laudantium consequatur atque odit?
                     Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Maxime asperiores provident assumenda a facere laudantium?
                      Explicabo eligendi dolor aperiam aut. Aliquid fugit quidem
                       a id laborum laudantium consequatur atque odit?
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Maxime asperiores provident assumenda a facere laudantium?
                        Explicabo eligendi dolor aperiam aut. Aliquid fugit quidem
                         a id laborum laudantium consequatur atque odit?
                         Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Maxime asperiores provident assumenda a facere laudantium?
                          Explicabo eligendi dolor aperiam aut. Aliquid fugit quidem
                           a id laborum laudantium consequatur atque odit?
                           Lorem ipsum dolor sit amet consectetur adipisicing elit.
                           Maxime asperiores provident assumenda a facere laudantium?
                            Explicabo eligendi dolor aperiam aut. Aliquid fugit quidem
                             a id laborum laudantium consequatur atque odit?
                             Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Maxime asperiores provident assumenda a facere laudantium?
                              Explicabo eligendi dolor aperiam aut. Aliquid fugit quidem
                               a id laborum laudantium consequatur atque odit?
                               Lorem ipsum dolor sit amet consectetur adipisicing elit.
                               Maxime asperiores provident assumenda a facere laudantium?
                                Explicabo eligendi dolor aperiam aut. Aliquid fugit quidem
                                 a id laborum laudantium consequatur atque odit?
                                 Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                 Maxime asperiores provident assumenda a facere laudantium?
                                  Explicabo eligendi dolor aperiam aut. Aliquid fugit quidem
                                   a id laborum laudantium consequatur atque odit?
                                   Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                   Maxime asperiores provident assumenda a facere laudantium?
                                    Explicabo eligendi dolor aperiam aut. Aliquid fugit quidem
                                     a id laborum laudantium consequatur atque odit?
                                     Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                     Maxime asperiores provident assumenda a facere laudantium?
                                      Explicabo eligendi dolor aperiam aut. Aliquid fugit quidem
                                       a id laborum laudantium consequatur atque odit?
                                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                       Maxime asperiores provident assumenda a facere laudantium?
                                        Explicabo eligendi dolor aperiam aut. Aliquid fugit quidem
                                         a id laborum laudantium consequatur atque odit?
                                         Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                         Maxime asperiores provident assumenda a facere laudantium?
                                          Explicabo eligendi dolor aperiam aut. Aliquid fugit quidem
                                           a id laborum laudantium consequatur atque odit?
                                           Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                           Maxime asperiores provident assumenda a facere laudantium?
                                            Explicabo eligendi dolor aperiam aut. Aliquid fugit quidem
                                             a id laborum laudantium consequatur atque odit?
                                             Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                             Maxime asperiores provident assumenda a facere laudantium?
                                              Explicabo eligendi dolor aperiam aut. Aliquid fugit quidem
                                               a id laborum laudantium consequatur atque odit?
                                               Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                               Maxime asperiores provident assumenda a facere laudantium?
                                                Explicabo eligendi dolor aperiam aut. Aliquid fugit quidem
                                                 a id laborum laudantium consequatur atque odit?
            </div>
        </div>
    </div>
{% endblock %}