{% extends 'portal/home.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{%static 'portal/styles/news.css'%}">
<link rel="stylesheet" href="{%static 'portal/styles/home.css'%}">
{% endblock %}

{%block content%}
<div class="newsContainer">
    <div class="newsItem">
        <h3>News Tittle <Span>20 May 2021</Span></h3>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Officia cum doloribus minima obcaecati nulla distinctio sapiente animi, 
            fugit nisi odit similique praesentium voluptatibus voluptas 
            ut quaerat rem non magnam provident.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Officia cum doloribus minima obcaecati nulla distinctio sapiente animi, 
            fugit nisi odit similique praesentium voluptatibus voluptas 
            ut quaerat rem non magnam provident.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Officia cum doloribus minima obcaecati nulla distinctio sapiente animi, 
            fugit nisi odit similique praesentium voluptatibus voluptas 
            ut quaerat rem non magnam provident.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Officia cum doloribus minima obcaecati nulla distinctio sapiente animi, 
            fugit nisi odit similique praesentium voluptatibus voluptas 
            ut quaerat rem non magnam provident.
        </p>
    </div>
    <div class="newsItem">
        <h2>First Years' Orientation <span>20 May - 1 June 2021</span></h2>
        <hr>
        <div class="tableItem">
            <table>
                <tr>
                    <th>Date</th>
                    <th>Event</th>
                    <th>Venue</th>
                    <th>Time</th>
                </tr>
                <tr>
                    <td>20 May 2021</td>
                    <td>Vice Chancelors Address</td>
                    <td>Ole Karei: LT201</td>
                    <td>12:00 - 3:00pm</td>
                </tr>
                <tr>
                    <td>21 May 2021</td>
                    <td>Vice Chancelors Address</td>
                    <td>Ole Karei: LT201</td>
                    <td>12:00 - 3:00pm</td>
                </tr>
                <tr>
                    <td>22 May 2021</td>
                    <td>Vice Chancelors Address</td>
                    <td>Ole Karei: LT201</td>
                    <td>12:00 - 3:00pm</td>
                </tr>
                <tr>
                    <td>23 May 2021</td>
                    <td>Vice Chancelors Address</td>
                    <td>Ole Karei: LT201</td>
                    <td>12:00 - 3:00pm</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="newsItem">
        <h3>News Tittle <span>23 June 2022</span></h3>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Officia cum doloribus minima obcaecati nulla distinctio sapiente animi, 
            fugit nisi odit similique praesentium voluptatibus voluptas 
            ut quaerat rem non magnam provident.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Officia cum doloribus minima obcaecati nulla distinctio sapiente animi, 
            fugit nisi odit similique praesentium voluptatibus voluptas 
            ut quaerat rem non magnam provident.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Officia cum doloribus minima obcaecati nulla distinctio sapiente animi, 
            fugit nisi odit similique praesentium voluptatibus voluptas 
            ut quaerat rem non magnam provident.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Officia cum doloribus minima obcaecati nulla distinctio sapiente animi, 
            fugit nisi odit similique praesentium voluptatibus voluptas 
            ut quaerat rem non magnam provident.
        </p>
    </div>
</div>
{% endblock %}



