<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <header>
        <div class="userDetails">
            <a id="user" href="#">Student</a>
            <div class="userLinks">
                <h3 id="btnClose">X</h3>
                <ul>
                    <li><a href="">My Messages</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="">Change Password</a></li>
                    <li><a href="">Logout</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="homeContainer">
        <section class="navigation">
            <div class="logo">
                <img src="../avatar.png" alt="institution logo">
            </div>
            <div class="navigationElements">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="">News & Events</a></li>
                    <li><a href="reporting.html">Reporting</a></li>
                    <li><a href="">Fees</a></li>
                    <li><a href="">Units</a></li>
                    <li><a href="">Examinations</a></li>
                    <li><a href="">Hostel Booking</a></li>
                    <li><a href="">Messages</a></li>
                    <li><a href="clearance.html">Clearance</a></li>
                </ul>
            </div>
        </section>
        <section class="details">
            <div class="news">
                ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt autem quidem ut quibusdam deserunt expedita cupiditate nesciunt labore quaerat, laborum mollitia sed, ratione minima voluptatem soluta? At, eum. Molestias, dolores.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur corrupti dolores minima quia, earum incidunt nulla dolore et atque quas quae nisi quos, minus aut mollitia reiciendis sed repudiandae! Et.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, ullam corporis. Nihil, sint! Deleniti nostrum maxime iure. Repellat aliquam magni enim, praesentium quae quisquam. Cupiditate odio labore iste mollitia natus.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et similique vel error, animi obcaecati corrupti doloremque nulla quod dolore dicta pariatur porro nostrum consequatur natus perferendis dolorem. Expedita, ullam est!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque, neque earum. Sed, corrupti deleniti! Impedit ipsam dolore eos a. Quia aspernatur placeat voluptate autem voluptatum nihil unde quam, natus fugit?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et vel pariatur quo vero iste quasi consequuntur, veniam mollitia ea saepe voluptatum libero laboriosam eligendi incidunt aspernatur reprehenderit qui consectetur rerum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae voluptatem magnam dicta similique esse ipsam blanditiis asperiores ex, cupiditate ullam nostrum repellat beatae, corporis laboriosam voluptatibus, aperiam eos eligendi officiis.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam quibusdam saepe tempora iure, ratione consequatur beatae adipisci enim suscipit consequuntur vero impedit reiciendis nulla nihil nobis exercitationem. Saepe, nemo veritatis.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio et omnis ducimus cumque, incidunt voluptas officia ab deleniti aliquam modi eius accusantium hic nisi quaerat vel excepturi blanditiis odit odio!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae eius, consectetur aut dolorem repellat explicabo quas cumque, incidunt esse natus labore. Aliquid enim quos minus, necessitatibus voluptas ipsum excepturi corporis.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, quisquam eum laborum soluta reprehenderit dolor repudiandae facilis. Aut assumenda officia dolorem aliquid sunt reprehenderit, reiciendis architecto minima! Deleniti, aspernatur a?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis dolorem nesciunt, praesentium ducimus obcaecati enim? Reprehenderit, deserunt sequi, quasi qui porro neque consectetur delectus necessitatibus ipsam cupiditate perspiciatis praesentium in!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et sint soluta perspiciatis maiores, commodi enim ex quasi. Vel blanditiis id dolorem a sequi. Optio nulla provident deserunt quos minima iusto.
            </div>
        </section>
    </div>
<script>
    const btnClose = document.getElementById("btnClose")
        profile = document.querySelector(".userLinks")
        userLink = document.querySelector("#user");
    userLink.addEventListener("click", ()=>{
        profile.style.display = "block";
    })
    btnClose.addEventListener("click", ()=>{
        profile.style.display = "none";
    })
</script>
</body>
</html>