<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal</title>
    <link rel="stylesheet" href="../static/reporting.css">
</head>
<body>
    <div class="examinationsContainer">
        <div class="content">
            <div class="contentHeader">
                <div class="contentTitle">
                    <h3>
                        Reporting
                    </h3>
                    <p>
                        My Reporting History
                    </p>
                </div>
                <hr>
                <div class="reportnow">
                    <button><a href=""><span>+</span> Report Now</a></button>
                </div>
            </div>
            <div class="reporting">

                <table>
                    <tr>
                        <th>#</th>
                        <th>Semester</th>
                        <th>Date Reported</th>
                        <th>Type</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>SEMESTER3 2020/2021</td>
                        <td>21 Jul 2021</td>
                        <td>Reported Online</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>SEMESTER3 2020/2021</td>
                        <td>21 Jul 2021</td>
                        <td>Reported Online</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>SEMESTER3 2020/2021</td>
                        <td>21 Jul 2021</td>
                        <td>Reported Online</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>SEMESTER3 2020/2021</td>
                        <td>21 Jul 2021</td>
                        <td>Reported Online</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>SEMESTER3 2020/2021</td>
                        <td>21 Jul 2021</td>
                        <td>Reported Online</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>SEMESTER3 2020/2021</td>
                        <td>21 Jul 2021</td>
                        <td>Reported Online</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>